.icon,
.wordmarkIcon {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: none;
}
.wordmarkIcon {
  width: 124px;
}
.compfestLogoDiv {
  display: flex;
  flex-direction: row;
  padding: 0 12px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
.cOMPFESTAllRightsReserved {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.faceboookCircleIcon,
.iconsBxlLinkedin {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}
.iconsBxlLinkedin {
  overflow: hidden;
}
.frameDiv2 {
  position: absolute;
  height: 75%;
  top: 12.5%;
  right: 0;
  bottom: 12.5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.frameDiv1 {
  flex: 1;
  position: relative;
  height: 32px;
}
.footerDiv1 {
  position: absolute;
  width: calc(100% + 2px);
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 24px 24px 0 0;
  background-color: #2d2f45;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 40px 112px;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
.jamJiwaB {
  position: absolute;
  top: 1px;
  left: 75px;
  line-height: 120%;
  display: inline-block;
}
.rectangleDiv {
  position: absolute;
  top: -15px;
  left: -11px;
  background-color: #d9d9d9;
  width: 86px;
  height: 63px;
}
.logoJamJiwaDiv {
  position: absolute;
  top: 44px;
  left: 105px;
  width: 204px;
  height: 40px;
  font-size: 32px;
  color: #d5d5da;
  font-family: R-Flex;
}
.footerDiv {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 160px;
  color: rgba(255, 255, 255, 0.8);
}
.madiunB,
.welcomeToB {
  position: absolute;
  top: 0;
  left: 217px;
  line-height: 120%;
  display: inline-block;
}
.welcomeToB {
  top: 48px;
  left: 0;
  font-size: 40px;
  font-family: Inter;
  color: #fff;
}
.textJumbotronDiv {
  position: absolute;
  top: 141px;
  left: 408px;
  width: 624px;
  height: 144px;
  text-align: center;
  font-size: 120px;
  color: #50527a;
  font-family: R-Flex;
}
.madiunIcon {
  position: absolute;
  top: 285px;
  left: 359px;
  width: 657px;
  height: 610px;
  object-fit: cover;
}
.body14pt {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.expandMoreIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.verticalTabsvuesaxlinearPrDiv {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.dropdownParentDiv {
  align-self: stretch;
  border-radius: 8px;
  background-color: #3e405b;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 20px;
}
.body14pt1,
.body14pt2 {
  position: absolute;
  top: 28.57%;
  left: 20px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 200px;
}
.body14pt2 {
  left: 280px;
}
.iconSoundWave {
  position: absolute;
  height: 33.33%;
  width: 2.79%;
  top: 33.93%;
  right: 3.26%;
  bottom: 32.74%;
  left: 93.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dropdownChild1 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
}
.dropdownDiv,
.dropdownParentDiv1 {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.dropdownDiv {
  background-color: #373951;
  width: 859px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.dropdownParentDiv1 {
  align-self: stretch;
  flex-direction: row;
  padding: 16px 20px;
  box-sizing: border-box;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}
.body14pt12 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.dropdownChild11 {
  align-self: stretch;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.dropdownDiv1,
.modalDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dropdownDiv1 {
  border-radius: 8px;
  width: 859px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  gap: 0;
}
.modalDiv {
  position: absolute;
  top: 538px;
  left: 234px;
  border-radius: 24px;
  background-color: #28293d;
  padding: 69px 56px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 32px;
}
.xIcon {
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% + 518px);
  width: 36px;
  height: 36px;
}
.rectangleDiv1 {
  position: absolute;
  top: -47px;
  left: -58px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 1553px;
  height: 1452px;
}
.frameDiv3,
.xIcon1 {
  height: 24px;
  flex-shrink: 0;
}
.xIcon1 {
  position: relative;
  width: 24px;
}
.frameDiv3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.iconSpeaker {
  position: absolute;
  height: 12%;
  width: 4.15%;
  top: 78.5%;
  right: 91.52%;
  bottom: 9.5%;
  left: 4.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.span {
  color: rgba(255, 255, 255, 0.2);
}
.jawaTimurMadiun,
.sugengEnjing {
  position: absolute;
  top: 20px;
  left: 25px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.jawaTimurMadiun {
  top: 157px;
  left: 404px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.iconKeyboardArrowDown {
  position: absolute;
  height: 5.89%;
  width: 3.46%;
  top: 81.5%;
  right: 4.33%;
  bottom: 12.61%;
  left: 92.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buttonDiv,
.imageDiv {
  align-self: stretch;
  border-radius: 12px;
  box-sizing: border-box;
}
.imageDiv {
  position: relative;
  border: 2px solid #fff;
  height: 200px;
  flex-shrink: 0;
  overflow: hidden;
}
.buttonDiv {
  background: linear-gradient(180deg, #5561ff, #3643fc, #3643fc);
  display: flex;
  flex-direction: row;
  padding: 12px 32px;
  align-items: center;
  justify-content: center;
}
.bahasaIndonesiaDiv {
  position: absolute;
  top: 157px;
  left: 424px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  display: inline-block;
}
.modalDiv1 {
  position: absolute;
  top: 320px;
  left: 391px;
  border-radius: 24px;
  background-color: #373951;
  width: 658px;
  height: 689px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.rectangleDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #28293d;
  width: 1440px;
  height: 110px;
}
.logoJamJiwaDiv1 {
  position: absolute;
  top: 35px;
  left: 112px;
  width: 204px;
  height: 40px;
}
.body14pt60 {
  position: relative;
  letter-spacing: -0.05em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.buttonDiv1 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 186px;
  flex-shrink: 0;
  padding: 12px 32px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttonDiv1,
.buttonDiv3,
.frameDiv4 {
  display: flex;
  flex-direction: row;
}
.buttonDiv3 {
  border-radius: 12px;
  background: linear-gradient(180deg, #5561ff, #3643fc, #3643fc);
  width: 186px;
  flex-shrink: 0;
  padding: 12px 32px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frameDiv4 {
  position: absolute;
  top: 31px;
  left: 658px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 56px;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.headerNavBarDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 110px;
  font-size: 32px;
  color: #d5d5da;
  font-family: R-Flex;
}
.madiunDiv {
  position: relative;
  background-color: #28293d;
  width: 100%;
  height: 1328px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
